<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>CLARKE</h1>
    <img src="/img/Edmund_Clarke.jpg" alt="Foto de Clarke">
    <p>Principalmente reconocido por haber desarrollado el método conocido como "model checking", para verificar diseños de software o hardware. Clarke fue el Profesor FORE Systems de Ciencias de la Computación en la Universidad Carnegie Mellon.</p>
</body>
</html>