<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <H1>MARGARET HAMILTON</H1>
    <img src="/img/hamilton.jpg" alt="Foto de hamilton">
    <p>Margaret Hamilton nació el 17 de agosto de 1937 en Paoli, Indiana, Estados Unidos. En aquel proyecto, Margaret fue la encargada de desarrollar el software para el primer ordenador AN/FSQ-7 que buscaba aviones “no-amigos” en el espacio aéreo norteamericano.</p>
</body>
</html>